*{
    margin: o;
    padding: 0;
}

#home{
    background-image: url("https://plus.unsplash.com/premium_photo-1675793715030-0584c8ec4a13?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cGljdHVyZXMlMjBmb3IlMjB3ZWIlMjBkZXZlbG9wbWVudHxlbnwwfHwwfHx8MA%3D%3D");
    size: cover;
    background-repeat: no-repeat;
    color: #444;
}
   